@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
}

.Toastify__toast {
  min-height: auto !important;
}

@media (min-width: 1240px) {
  .Toastify__toast {
    max-width: auto !important;
    margin: 20px 10px 0px 0px !important;
  }
}
@media (max-width: 640px) {
  .Toastify__toast {
    max-width: 280px !important;
    margin: 20px 10px 0px 0px !important;
  }
}

@layer components {
  .main-bg {
    @apply bg-white dark:bg-homeBg transition-colors duration-300;
  }

  .main-text {
    @apply text-black dark:text-white transition-colors duration-300;
  }

  .glass-card {
    @apply bg-white/80 dark:bg-white/10 backdrop-blur-xl border border-black/10 dark:border-white/10;
  }
}
